@model HeCon_webapp.Models.XRay

@{
    ViewBag.Title = "New";
}
<div class="jumbotron" background="~/Content/Images/sahb.png">
    <h2>Choose your chest xray and receive an immediate response</h2>


    @using (Html.BeginForm("New", "XRay", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Pneumonia diagnose</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="ImageFile" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Get diagnostic" class="btn btn-default" />
                </div>
            </div>
        </div>
        <div class="col-md-10">
            @if (ViewBag.result != null)
            {
                <span class="label label-success">
                    The probability of having pneumonia is: <br /><br />
                </span>
                <span class="btn btn-warning">
                    <font size="12">@ViewBag.result.positive_probability</font>
                </span>

            }
        </div>
    }
</div>
<div>
    @Html.ActionLink("Back to List", "Show")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
