@model HeCon_webapp.Models.PatientProfile

@{
    ViewBag.Titlu = "Editare Profil";
}

<h2>@ViewBag.Titlu</h2>
<form method="post" action="/PatientProfile/Edit">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.Label("PatientName", "Numele intreg")
    <br />
    @Html.TextBox("PatientName", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.PatientName, "Titlul este obligatoriu", new { @class = "text-danger " })

    <br /><br />
    @Html.Label("Age", "Varsta")
    <br />
    @Html.TextArea("Age", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Age, "Continutul este obligatoriu", new { @class = "text-danger " })
    <br>

    <br />
    @Html.Label("HealthIssues", "Probleme medicale")
    <br />
    @Html.TextArea("HealthIssues", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.HealthIssues, "Continutul este obligatoriu", new { @class = "text-danger " })
    <br>

    <br />
    @Html.Label("SurgicalProcedures", "Operatii")
    <br />
    @Html.TextArea("SurgicalProcedures", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.SurgicalProcedures, "Continutul este obligatoriu", new { @class = "text-danger " })
    <br>

    <br />
    @Html.Label("FamilyDoctor", "Doctor de familie")
    <br />
    @Html.TextArea("FamilyDoctor", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.FamilyDoctor, "Continutul este obligatoriu", new { @class = "text-danger " })
    <br>
    <br>
    <br>
    <button class="btn btn-sm btn-success" type="submit">Modifica profil</button>
</form>