@model HeCon_webapp.Models.PatientProfile

@{
    ViewBag.Titlu = "Editare Profil";
}

<h2>@ViewBag.Titlu</h2>
<form method="post" action="/PatientProfile/Edit">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.Label("PatientName", "Full Name")
    <br />
    @Html.TextBox("PatientName", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.PatientName, "Patient's Name is obligatory", new { @class = "text-danger " })

    <br /><br />
    @Html.Label("Age", "Age")
    <br />
    @Html.TextArea("Age", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Age, "Age is obligatory", new { @class = "text-danger " })
    <br>

    <br />
    @Html.Label("HealthIssues", "Health Issues")
    <br />
    @Html.TextArea("HealthIssues", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.HealthIssues, "Health Issues are obligatory", new { @class = "text-danger " })
    <br>

    <br />
    @Html.Label("SurgicalProcedures", "Surgical Procedures")
    <br />
    @Html.TextArea("SurgicalProcedures", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.SurgicalProcedures, "Surgical Procedures are obligatory", new { @class = "text-danger " })
    <br>

    <br />
    @Html.Label("FamilyDoctor", "Family Doctor")
    <br />
    @Html.TextArea("FamilyDoctor", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.FamilyDoctor, "Family Doctor is obligatory", new { @class = "text-danger " })
    <br>
    <br>
    <br>
    <button class="btn btn-sm btn-success" type="submit">Modify profile</button>
</form>