@model HeCon_webapp.Models.DoctorProfile

@{
    ViewBag.Title = "New";
}

<h2>Completeaza pagina de profil</h2>

<style>
    .s {
        width: 85%;
        height: 230px;
    }
</style>

<div class="row">
    <div class="col-md-3">
        <img class="s" src="~/Images/profile.jpg" />
    </div>
    <div class="col-md-8">
        <form method="post" action="/DoctorProfile/New">
            @Html.HiddenFor(m => m.UserId)

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.Label("DoctorName", "Full Name")
            <br />
            @Html.TextBox("DoctorName", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DoctorName, "Doctor's name is obligatory", new { @class = "text-danger " })
            <br /><br />
            @Html.Label("Description", "Description")
            <br />
            @Html.TextArea("Description", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description, "Description is obligatory ", new { @class = "text-danger " })
            <br>
            <button class="btn btn-sm btn-success" type="submit">Save profile</button>
        </form>
    </div>
</div>
